.page {
  background-color: var(--page-background-color, #fff);
  background-image: var(--background-image, none);
  background-attachment: fixed;
  background-size: cover;
  color: var(--text-color, #000);
  font-family: var(--accent-font, "PressStart2P", sans-serif);
  font-variation-settings: "wght" var(--main-font-weight, 400);
  min-inline-size: 320px;
  min-block-size: 100dvb;
  margin-block: 102px;
}

@supports (font-variation-settings: normal) {
  .page {
    font-family: var(--main-font, "Inter-Variable", sans-serif);
  }
}

/* FILTERS */

.filter-saturate {
  filter: saturate(500%);
}

.filter-invert {
  filter: invert(100%);
}

.filter-brightness {
  filter: brightness(200%);
}

.filter-grayscale {
  filter: grayscale(0.8);
}

.filter-blur {
  filter: blur(0.5rem);
}

.filter-multiple {
  filter: hue-rotate(75deg) saturate(400%);
}

.filter-opacity {
  filter: opacity(0.4);
}

/* HEADER */

.header {
  display: grid;
  justify-content: center;
  justify-items: center;
  background-color: var(--page-background-color, #fff);
  font-family: var(--accent-font, "PressStart2P", sans-serif);
  line-height: normal;
  text-transform: uppercase;
  border: 2px solid var(--themes-main-color, #000);
  margin-inline: auto;
  max-inline-size: 696px;
}

.header__logo {
  font-size: clamp(49px, 2.7104rem + 1.5023vw, 65px);
  margin-block-start: clamp(120px, 7.1479rem + 1.5023vw, 136px);
  margin-block-end: 20px;
}

.header__title {
  font-size: clamp(14px, 0.6769rem + 0.8451vw, 23px);
  margin-block-end: 2px;
}
.header__theme-menu {
  display: grid;
  margin-block-start: 20px;
  margin-block-end: 25px;
  margin-inline-start: 20px;
}

.theme-menu__list {
  display: grid;
  gap: 9px;
}

.theme-menu__button {
  position: relative;
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 14px;
  text-transform: uppercase;
}

.theme-menu__button:hover {
  opacity: 0.6;
}

.theme-menu__button:not(:disabled)::after {
  content: "";
  display: block;
  background: currentColor;
  transition: transform 0.3s ease;
  transform: scaleX(0);
  transform-origin: left;
  inline-size: 100%;
  block-size: 2px;
}

.theme-menu__button:focus {
  outline: 0;
  opacity: 0.6;
}

.theme-menu__button:focus-visible::after {
  transform: scaleX(1);
}

.theme-menu__button:disabled {
  opacity: 0.6;
  cursor: default;
  pointer-events: none;
}

.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  top: 0;
  left: -20px;
  animation: theme-menu__pointer 0.5s ease-in-out infinite alternate;
}

/* CONTENT */

.content {
  display: grid;
  justify-content: center;
  align-content: start;
  margin-block-start: 100px;
}

.card__list {
  display: grid;
  gap: 50px;
}

.card__list__item {
  background-color: var(--page-background-color, #fff);
  border: 2px solid var(--themes-main-color, #000);
  font-size: 18px;
}

.card {
  display: grid;
  font-size: 18px;
  font-style: normal;
  line-height: normal;
  margin-inline: auto;
  max-inline-size: 696px;
}

.card__header {
  font-size: 18px;
  font-size: inherit;
  font-variation-settings: "wght" var(--accent-font-weight, 700);
  padding-inline: 10px;
  padding-block: 4px;
  border-block-end: 2px solid var(--themes-main-color, #000);
}

.card__image-block {
  position: relative;
  border-block-end: 2px solid var(--themes-main-color, #000);
}

.card__image-block__label {
  position: absolute;
  font-family: var(--accent-font, "PressStart2P", sans-serif);
  font-size: 14px;
  text-transform: uppercase;
  opacity: 0.5;
  text-shadow: 0 0 1px var(--page-background-color, #fff);
  mix-blend-mode: hard-light;
  z-index: 1;
  inset-block-start: 25px;
  inset-inline-end: clamp(11px, 0.3794rem + 1.3146vw, 25px);
}

@supports (
  (-webkit-text-stroke: 1px var(--page-background-color, #fff)) or
    (text-stroke: 1px var(--page-background-color, #fff))
) {
  .card__image-block__label {
    -webkit-text-stroke: 1px var(--page-background-color, #fff);
    text-stroke: 1px var(--page-background-color, #fff);
    text-shadow: none;
  }
}

.card__image-block__picture {
  display: block;
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  aspect-ratio: 1 / 1;
}

.card__content {
  display: grid;
  gap: 27px;
  line-height: 1.16;
  margin-block-start: 25px;
  margin-inline: 25px;
}

.card__footer {
  display: grid;
  grid-template-columns: 1fr 130px;
  justify-items: end;
  gap: 6px;
  align-items: center;
  margin-inline: 25px;
  margin-block: 25px;
}

.card__icon-button {
  display: grid;
  background: transparent;
  cursor: pointer;
}

.button {
  position: relative;
  background: var(--page-background-color, #fff);
  border: 2px solid var(--text-color, #000);
  transition: box-shadow 0.3s ease;
  cursor: pointer;
  z-index: 1;
  margin: auto;
}

.button::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  background: var(--text-color, #000);
  transition: transform 0.5s ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
  inline-size: 100%;
  block-size: 100%;
}

.button:hover::before {
  transform: scaleX(1);
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px 0px 0px var(--text-color, #000);
}

.card__icon-button {
  display: grid;
  border: 0;
  padding: 0;
  background: transparent;
  transition: border-color 0.3s ease;
  cursor: pointer;
}

.card__icon-button:focus {
  outline: 0;
}

.card__icon-button:focus-visible {
  border: 1px solid var(--themes-main-color, #000);
}

.card__like-button {
  width: 130px;
  padding-block: 7px;
}

.button__text {
  color: var(--button-text-color, #fff);
  font-family: var(--accent-font, "PressStart2P", sans-serif);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  mix-blend-mode: difference;
}

.save-button__icon {
  color: var(--button-text-color, #fff);
  mix-blend-mode: difference;
}

.save-button {
  display: grid;
  grid-template-columns: min-content 1fr;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: 2px solid var(--themes-main-color, #000);
  padding-block: 15px;
  padding-inline: 19px;
  max-width: 339px;
  margin-block-start: 54px;
}

.dialog {
  border: 2px solid var(--text-color, #000);
  padding: 25px 30px;
  color: var(--text-color, #000);
  font-family: var(--accent-font, "PressStart2P", fantasy);
  font-size: 14px;
  line-height: 1.5;
  text-transform: uppercase;
  background: var(--page-background-color, #fff);
  max-inline-size: 355px;
}

.dialog[open] {
  display: grid;
  gap: 30px;
}

.dialog__content {
  display: flex;
  align-items: center;
  gap: 20px;
}

.dialog__icon {
  flex-shrink: 0;
  block-size: 39px;
  inline-size: 39px;
}

.dialog::backdrop {
  opacity: 0.75;
  background: var(--themes-main-color, #000);
}

.dialog__button {
  text-transform: uppercase;
  border: 2px solid var(--text-color, #000);
  inline-size: 100%;
  padding-block: 12px;
}

@media (width <= 375px) {
  .save-button {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    justify-items: center;
    padding-block: 15px;
  }

  .save-button__icon {
    block-size: 28px;
    inline-size: 28px;
  }

  .dialog {
    max-inline-size: 341px;
    padding: 28px 34px 28px 40px;
  }
}
